<!DOCTYPE HTML>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>RTM網上商店</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div class="header">
			<div class="container">
			   <div class="navbar">
				   <div class="logo">
					   <a href={{ url_for('index') }}><img src="https://mtrproject.blob.core.windows.net/$web/2023-04-13.jpg" width="125px"></a>
				   </div>
				   <nav>
					<ul id="MenuItems">
						<li><a href={{ url_for('indexzh') }}>首頁</a></li>
						<li><a href={{ url_for('productszh') }}>產品</a></li>
						<li><a href={{ url_for('accountzh') }}>賬戶</a></li>
						<li><a href={{ url_for('contactzh') }}>聯絡我們</a></li>
							<li><a href={{ url_for('cart') }}><img src="https://mtrproject.blob.core.windows.net/$web/cart.png" width="30px"></a></li>
					</ul>
				   </nav>
	 
				   <img src="https://mtrproject.blob.core.windows.net/$web/menu.png" onclick="menutoggle()" class="menu-icon"   >
			   </div>
			</div>
		</div>
<!-- End of header -->
<div class="container">
	<p>您的訂單已成功下達</p>
	<div id="cartItems">
	<h2>您訂購的商品</h2>
	<div id="tableItems">
		
		<table>
			<thead>
				<tr>
					<th>名稱</th>
					<th>價錢</th>
				</tr>
			</thead>
			<tbody>
				{% for cart_item in cart_items %}
				<tr>
				<td>{{ cart_item[1] }}</td>
				<td>$ {{ cart_item[2] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<hr id="seperator">
		<div id="total">
			<span id="subtotal">您的總訂單量是</span> : $ {{ total_price }}
			<span if="deliverydate"></span>
		</div>
		<div><a href="/">返回首頁</a></div>
	</div>
</div>
</div>
 <!----------Footer---------------> 
 <div class="footer">
	<div class="container">
		<div class="row">
			<div class="footer-1">
			   <h3>客戶服務</h3>
				<ul>
					<li>常見問題</li>
					<li>送貨服務</li>
					<li>關於訂單和付款</li>
					<li><a href={{ url_for('contact') }}>聯絡我們</a></li>
				</ul>
			</div>
			<div class="footer-2">
			   <h3>Language</h3>
				<ul>
					<li><a href={{ url_for('checkout') }}>English</a></li>
					<li><a href={{ url_for('checkoutzh') }}>中文</a></li>
					<li>.</li>
					<li>.</li>
				</ul>
			</div>
		</div>
	</div>  
</div>


</body>
</html>
