<!DOCTYPE HTML>
<html>
<head>
	<title>RTM網上商店</title>
</head>
<body>
	<p>您的訂單已成功下達</p>
	<div id="cartItems">
	<h2>您訂購的商品</h2>
	<div id="tableItems">
		{% for cart_item in cart_items %}
		<div>
			<hr id="seperator">
			<div id="itemName">
				<span id="itemNameTag">{{ cart_item[1] }}</span><br>
			</div>
			<div id="itemPrice">
				$ {{ total_price }}
			</div>
		</div>
		<hr id="seperator">
		<div id="total">
			<span id="subtotal">您的總訂單量是</span> : $ {{ total_price }}
			<span if="deliverydate"></span>
		</div>
		{% endfor %}
		<div>
			<a href={{ url_for('indexzh') }}>返回首頁</a>
			</div>
	</div>
</div>
</body>
</html>
