<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta charset="UTF-8">
    <title>RTM網上商店</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
</head>
<body>
   <div class="header">
       <div class="container">
          <div class="navbar">
              <div class="logo">
                  <a href={{ url_for('indexzh') }}><img src="https://mtrproject.blob.core.windows.net/$web/2023-04-13.jpg" width="125px"></a>
              </div>
              <nav>
               <ul id="MenuItems">
                <li><a href={{ url_for('indexzh') }}>首頁</a></li>
                <li><a href={{ url_for('productszh') }}>產品</a></li>
                <li><a href={{ url_for('accountzh') }}>賬戶</a></li>
                <li><a href={{ url_for('contactzh') }}>聯絡我們</a></li>
                <li><a href={{ url_for('cartzh') }}><img src="https://mtrproject.blob.core.windows.net/$web/cart.png" width="30px"></a></li>
               </ul>
              </nav>
              <img src="https://mtrproject.blob.core.windows.net/$web/menu.png" onclick="menutoggle()" class="menu-icon">
          </div>
            <!-- Slider -->
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="https://mtrproject.blob.core.windows.net/$web/Slider2zh.png"></div>
                <div class="swiper-slide"><img src="https://mtrproject.blob.core.windows.net/$web/Slider3zh.png"></div>
                <div class="swiper-slide"><img src="https://mtrproject.blob.core.windows.net/$web/Slider4zh.png"></div>
                <div class="swiper-slide"><img src="https://mtrproject.blob.core.windows.net/$web/banner1.jpg"></div>
                <div class="swiper-slide"><img src="https://mtrproject.blob.core.windows.net/$web/topBanner7.jpg"></div>
              </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
       </div>
       </div>
<!------------------ New In --------------->
     <div class="New">
        <h2 class="title">最新推介</h2>
         <div class="small-container">
           <div class="row">
               <div class="New-1">
                   <img src="https://mtrproject.blob.core.windows.net/$web/NewIn1zh.png">
               </div> 
               <div class="New-1">
                  <img src="https://mtrproject.blob.core.windows.net/$web/NewIn2zh.png">
               </div>  
           </div>
       </div>
     </div>
       
<!----------Footer---------------> 

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-1">
               <h3>客戶服務</h3>
                <ul>
                    <li>常見問題</li>
                    <li>送貨服務</li>
                    <li>關於訂單及付款</li>
                    <li><a href={{ url_for('contactzh') }}>聯絡我們</a></li>
                </ul>
            </div>
            <div class="footer-2">
               <h3>Language</h3>
                <ul>
                    <li><a href={{ url_for('index') }}>English</a></li>
                    <li><a href={{ url_for('indexzh') }}>中文</a></li>
                    <li>.</li>
                    <li>.</li>
                </ul>
            </div>
        </div>
    </div>  
</div>

<!-------------js for toggle menu-------------->

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
  loop: true,

  pagination: {
    el: '.swiper-pagination',
    clickable: true,

  },

  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

});
</script>
</body>
</html>

