<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>RTM網上商店</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='product.css') }}">
</head>
<body>
       <div class="container">
          <div class="navbar">
              <div class="logo">
                 <a href={{ url_for('indexzh') }}><img src="https://mtrproject.blob.core.windows.net/$web/2023-04-13.jpg" width="125px"></a>
              </div>
              <nav>
               <ul id="MenuItems">
                <li><a href={{ url_for('indexzh') }}>首頁</a></li>
                <li><a href={{ url_for('productszh') }}>產品</a></li>
                <li><a href={{ url_for('accountzh') }}>賬戶</a></li>
                <li><a href={{ url_for('contactzh') }}>聯絡我們</a></li>
                <li><a href={{ url_for('cartzh') }}><img src="https://mtrproject.blob.core.windows.net/$web/cart.png" width="30px"></a></li>
               </ul>
              </nav>
              <img src="https://mtrproject.blob.core.windows.net/$web/menu.png" onclick="menutoggle()" class="menu-icon">
          </div>
          
       </div>
<!----------------- title -------------->
<div class="small-container">
    <div class="row row-2">
        <h2>所有產品</h2>
        <select>
            <option>默認排序</option>
            <option>按價格</option>
            <option>按人氣</option>
            <option>按評級</option>
            <option>已售空</option>
        </select>
    </div>
 
    <h3><u><li><a href="{{ url_for('add_product') }}">加入產品</a></li></u></h3>
   <table>
     <tbody>
       {% for product in products %}
       <tr>
         <td>{{ product[0] }}</td>
         <td><img src="{{ url_for('static', filename='images/' + product[6]) }}" class="product-img"></td>
         <td>{{ product[2] }}</td>
         <td>{{ product[4] }}</td>
         <td>$ {{ product[5] }}</td>
         <td>
             <form action="{{ url_for('add_to_cart') }}" method="post">
                 <input type="hidden" name="product_id" value="{{ product[0] }}">
                 <input type="number" name="quantity" value="1" min="1">
                 <button type="submit"><a href={{ url_for('cartzh') }}>加入購物車</button></a>
             </form>
         </td>
       </tr>
       {% endfor %}
     </tbody>
   </table>         
             
            <div class="page-btn">
               <span>1</span>
               <span>2</span>
               <span>3</span>
               <span>4</span>
               <span>&#8594;</span>
           </div>
 </div>
     
<!----------Footer---------------> 

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-1">
               <h3>客戶服務</h3>
                <ul>
                    <li>常見問題</li>
                    <li>送貨服務</li>
                    <li>關於訂單和付款</li>
                    <li><a href={{ url_for('contactzh') }}>聯絡我們</a></li>
                </ul>
            </div>
            <div class="footer-2">
               <h3>Language</h3>
                <ul>
                    <li><a href={{ url_for('products') }}>English</a></li>
                    <li><a href={{ url_for('productszh') }}>中文</a></li>
                    <li>.</li>
                    <li>.</li>
                </ul>
            </div>
        </div>
    </div>  
</div>

<!-------------js for toggle menu-------------->

<script>
    
    var MenuItems = document.getElementById("MenuItems");
    
    MenuItems.style.maxHeight = "0px";
    
    function menutoggle()
    {
        if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight = "200px";
            }else
            {
                MenuItems.style.maxHeight = "0px"
            } 
    }
    
</script>



</body>
</html>

